# 라벨링데이터 통합  
> - 통계청에서 공개한 긍부정 라벨링 데이터   
https://www.data.go.kr/data/15075840/fileData.do

In [16]:
# Ignore the warnings
import warnings
# warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

import os
import pandas as pd
import numpy as np

# Python path
import sys
base_folder = 'NLP'
location_base = os.path.join(os.getcwd().split(base_folder)[0], base_folder)
location_module = [os.path.join(location_base, 'Module')] 
for each in location_module:
    if each not in sys.path:
        sys.path.append(each)

# Auto reload of library
%reload_ext autoreload
%autoreload 2

In [17]:
FOLDER_LOCATION = os.path.join(os.getcwd(), 'Data', '라벨링')
FOLDER_NAME = True

In [18]:
from tqdm import tqdm as tqdm_iterator

In [19]:
def get_data_from_path(folder_location, folder_name=False, concat_axis='row'):
    # path_folder 하위의 모든 폴더위치와 내부 file 출력
    df = pd.DataFrame()
    print('Getting data from', len(os.listdir(folder_location)), 'folders...')
    for (path, dir, files) in os.walk(folder_location):
        for file in tqdm_iterator(files):
            path_file = os.path.join(path, file)

            ## 데이터 로딩
            if path_file.split('.')[1] == 'xlsx':
                df_sub = pd.read_excel(path_file)
            elif path_file.split('.')[1] == 'csv':
                df_sub = pd.read_csv(path_file)
                
            ## 키워드 태깅 여부
            if folder_name:
                df_sub['Folder_Name'] = os.path.basename(path)
            
            ## 정리
            if concat_axis == 'col':
                df = pd.concat([df, df_sub], axis=1)
            elif concat_axis == 'row':
                df = pd.concat([df, df_sub], axis=0)
                
    return df

# 데이터로딩
df_news = get_data_from_path(FOLDER_LOCATION, folder_name=FOLDER_NAME)
df = df_news.copy()

Getting data from 3 folders...

0it [00:00, ?it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 20.40it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:02<00:00,  5.36it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00,  8.22it/s]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7618 entries, 0 to 258
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           7618 non-null   int64
 1   제목           7618 non-null   object
 2   URL          7606 non-null   object
 3   라벨러1         7618 non-null   int64
 4   라벨러2         7618 non-null   int64
 5   라벨러3         7618 non-null   int64
 6   라벨러4         7618 non-null   int64
 7   라벨러5         7618 non-null   int64
 8   라벨러6         7618 non-null   int64
 9   Folder_Name  7618 non-null   object
dtypes: int64(7), object(3)
memory usage: 654.7+ KB

In [21]:
df.head()

,날짜,제목,URL,라벨러1,라벨러2,라벨러3,라벨러4,라벨러5,라벨러6,Folder_Name
0,20180102,"[신년사]손경식 CJ회장_ ""해외사업 공격적 확장_ 성장 가속화""",http://news.naver.com/main/read.nhn?mode=LSD&m...,3,3,3,4,3,3,2018
1,20180109,[취업과 창업]신입사원 연차 생기고 공공기관 채용 역대 최대,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,4,5,5,5,4,2018
2,20180109,2018년 채용연계형 인턴채용 문 열렸다,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,4,4,4,5,4,2018
3,20180109,무술년 채용연계형 인턴채용 스타트,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,3,4,4,5,4,2018
4,20180111,그냥 쉬었다 청년_ 30만명 역대 최고치,http://news.naver.com/main/read.nhn?mode=LSD&m...,2,2,1,1,1,1,2018

In [22]:
df.to_csv('labelled_data.csv', index=False,  encoding='utf-8-sig')